label {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer; }

#close__collapse span {
  background: #fff;
  border-radius: 10px;
  height: 5px;
  margin: 5px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

#close__collapse span:nth-of-type(1) {
  width: 50%; }

#close__collapse span:nth-of-type(2) {
  width: 100%; }

#close__collapse span:nth-of-type(3) {
  width: 75%; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px); }

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg); }

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(14px, -10px) rotatez(45deg); }

.productsection__maincontainer {
  height: calc(100vh - 100px);
  margin-top: 100px;
  background: #453c67;
  background: linear-gradient(292deg, #453c67 39%, #6d67e4 100%);
  position: relative;
  width: 100%; }

.productsection__background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 100px);
  width: 100%;
  z-index: 0; }

.issbanner {
  background-image: url(../assets/backgroundissmob.svg); }

.productsection__serviceimg__container {
  position: absolute;
  width: 65%;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -70%); }

.productsection__serviceimg__image {
  width: 100%; }

.productsection__textcontainer {
  position: relative;
  z-index: 2;
  height: 100%;
  font-weight: 600;
  flex-direction: column;
  margin: 0;
  max-width: 450px;
  padding-left: 1rem;
  padding-top: 5rem; }
  .productsection__textcontainer h1 {
    font-weight: 600;
    color: #453C67;
    margin: 0;
    margin-top: 30px; }
  .productsection__textcontainer h2 {
    max-width: 60%; }
  .productsection__textcontainer p {
    margin-top: 20px;
    padding-bottom: 2rem; }
  .productsection__textcontainer .button__banner {
    color: white;
    font-size: 1.5rem;
    font-weight: 900; }

.products__separatorbox {
  display: flex;
  background: #25223A;
  align-items: center;
  justify-content: center; }

.products__separator {
  padding: 15px 0;
  color: white;
  text-align: start;
  width: 90%; }
  .products__separator h3 {
    font-size: 1.25rem; }

@media only screen and (min-width: 630px) {
  .productsection__serviceimg__container {
    padding-bottom: 2rem; }
  .productsection__textcontainer {
    padding-left: 3rem; } }

@media only screen and (min-width: 992px) {
  .productsection__background {
    transform: translate(-10%, 0%); }
  .issbanner {
    background-image: url(../assets/backgroundiss.svg); }
  .productsection__serviceimg__container {
    top: 60%;
    left: 70%;
    padding: 0;
    width: 50%; }
  .productsection__textcontainer {
    padding-left: 5rem;
    padding-top: 0;
    justify-content: center; }
    .productsection__textcontainer h1 {
      font-size: 5rem;
      margin-top: 0; }
    .productsection__textcontainer h2 {
      max-width: 100%; }
    .productsection__textcontainer p {
      padding-bottom: 5rem; }
  .products__separator {
    padding: 50px;
    text-align: center;
    width: 70%; } }

@media only screen and (min-width: 1214px) {
  .productsection__serviceimg__container {
    top: 65%;
    left: 65%; } }

#features {
  background-color: white;
  padding-top: 5rem; }

.features__image__container {
  width: 50%;
  margin-bottom: 1rem; }

.features__image {
  width: 100%; }

.features__text {
  padding: 1rem; }
  .features__text h4 {
    color: #46C2CB;
    font-weight: 600; }

.features__gradient {
  height: 100px;
  width: 100%;
  background: #46c2cb;
  background: linear-gradient(0deg, #46c2cb 21%, white 88%); }

@media only screen and (min-width: 992px) {
  .container .reverse {
    flex-direction: row-reverse; }
  .features__text {
    padding-left: 3.5rem; }
  .features__image__container {
    width: 25%; } }

.scbanner {
  background-image: url(../assets/backgroundscmob.svg); }

.productsection__serviceimg__container__sc {
  position: absolute;
  width: 65%;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -70%) rotate(-90deg);
  overflow: hidden; }

.productsection__textcontainer__sc {
  position: relative;
  z-index: 2;
  height: 100%;
  font-weight: 600;
  flex-direction: column;
  margin: 0;
  max-width: 450px;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center; }
  .productsection__textcontainer__sc h1 {
    font-weight: 600;
    color: #453C67;
    margin: 0;
    margin-top: 30px; }
  .productsection__textcontainer__sc h2 {
    font-size: 1.2rem;
    max-width: 55%; }
  .productsection__textcontainer__sc p {
    margin-top: 20px;
    padding-bottom: 2rem; }
  .productsection__textcontainer__sc .button__banner {
    color: white;
    font-size: 1.5rem;
    font-weight: 900; }

@media only screen and (min-width: 630px) {
  .productsection__textcontainer__sc {
    padding-left: 3rem; }
  .productsection__serviceimg__container__sc {
    top: 88%;
    left: 75%;
    transform: translate(-50%, -70%) rotate(-45deg); } }

@media only screen and (min-width: 992px) {
  /* .productsection__background{
        
        transform: translate(-10%, 0%);
    } */
  .scbanner {
    background-image: url(../assets/backgroundsc.svg); }
  .productsection__serviceimg__container__sc {
    top: 55%;
    left: 70%;
    transform: translate(-50%, -70%) rotate(0deg);
    padding: 0;
    width: 50%; }
  .productsection__textcontainer__sc {
    padding-left: 2rem;
    padding-top: 3.5rem;
    justify-content: center; }
    .productsection__textcontainer__sc h1 {
      font-size: 5rem;
      margin-top: 0; }
    .productsection__textcontainer__sc h2 {
      max-width: 100%; }
    .productsection__textcontainer__sc p {
      padding-bottom: 0;
      margin-bottom: 0; } }

@media only screen and (min-width: 1214px) {
  .productsection__serviceimg__container__sc {
    top: 60%;
    left: 60%; }
  .productsection__textcontainer__sc h2 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1586px) {
  .productsection__textcontainer__sc {
    padding-left: 3.5rem; }
    .productsection__textcontainer__sc p {
      padding-bottom: 5rem; } }

.nautbanner {
  background-image: url(../assets/backgroundnautmob.svg); }

.productsection__serviceimg__container__naut {
  position: absolute;
  width: 85%;
  top: 87%;
  left: 56%;
  transform: translate(-50%, -70%);
  overflow: hidden; }

.productsection__textcontainer__naut {
  position: relative;
  z-index: 2;
  height: 100%;
  font-weight: 600;
  flex-direction: column;
  margin: 0;
  max-width: 500px;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: start;
  padding-top: 6rem; }
  .productsection__textcontainer__naut h1 {
    font-weight: 600;
    color: #453C67;
    margin: 0;
    margin-top: 30px; }
  .productsection__textcontainer__naut h2 {
    max-width: 70%; }
  .productsection__textcontainer__naut p {
    margin-top: 20px;
    padding-bottom: 2rem; }
  .productsection__textcontainer__naut .button__banner {
    color: white;
    font-size: 1.5rem;
    font-weight: 900; }

@media only screen and (min-width: 630px) {
  .productsection__textcontainer__naut {
    padding-left: 3rem;
    justify-content: center;
    padding-top: 0; }
  .productsection__serviceimg__container__naut {
    width: 65%;
    top: 88%;
    left: 75%;
    transform: translate(-55%, -75%) rotate(-45deg); } }

@media only screen and (min-width: 992px) {
  .productsection__serviceimg__container__naut {
    top: 60%;
    left: 75%;
    transform: translate(-50%, -70%) rotate(0deg);
    padding: 0;
    width: 50%; }
  .productsection__textcontainer__naut {
    padding-left: 2rem;
    padding-top: 3.5rem;
    justify-content: center; }
    .productsection__textcontainer__naut h1 {
      font-size: 5rem;
      margin-top: 0; }
    .productsection__textcontainer__naut h2 {
      max-width: 100%; }
    .productsection__textcontainer__naut p {
      padding-bottom: 0;
      margin-bottom: 0; } }

@media only screen and (min-width: 1214px) {
  .nautbanner {
    background-image: url(../assets/backgroundnaut.svg); }
  .productsection__serviceimg__container__naut {
    top: 65%;
    left: 70%; } }

@media only screen and (min-width: 1586px) {
  .productsection__textcontainer__naut {
    padding-left: 3.5rem; }
    .productsection__textcontainer__naut p {
      padding-bottom: 5rem; } }

body {
  font-family: "Questrial";
  background-color: black; }

#complete__nav {
  color: white;
  height: 100px; }

.position__fix {
  padding: 0px 40px;
  position: relative;
  height: 100%; }

.logo__box {
  width: 30%; }

.navbar-brand img {
  width: 100%; }

.menu__header {
  margin-left: auto; }

#collapseMenu {
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #453C67;
  overflow: auto;
  transition: height 0.3s ease-in-out; }

#collapseMenu.collapsing {
  height: 0; }

.collapse__inner ul {
  padding: 18px 0px;
  list-style-type: none;
  margin-bottom: 70px; }

.collapsable__li {
  position: relative;
  padding: 20px 30px;
  transition-duration: .8s;
  border-bottom: 1px solid #F2F7A1; }

.collapsable__button {
  background: none;
  border: 0px;
  width: 100%;
  text-align: left;
  padding: 0; }

.collapsable__tittle {
  max-width: 170px;
  line-height: 48px;
  font-size: 22px;
  text-decoration: none;
  color: white;
  font-weight: 600; }

.arrow__box {
  font-size: 22px;
  border-radius: 50px;
  background-color: #6D67E4;
  color: #F2F7A1;
  margin-right: 60px;
  padding: 1px 10px; }

#solutionsCollapse {
  border: 1px solid #F2F7A1;
  background-color: #6D67E4;
  border-radius: 15px;
  margin-top: 10px; }
  #solutionsCollapse a {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column; }

.solutions__collapse__product {
  border-bottom: 1px solid #F2F7A1; }
  .solutions__collapse__product:last-child {
    border-bottom: none; }
  .solutions__collapse__product:hover, .solutions__collapse__product :active {
    background-color: #585170; }

.solutions__collapse__product__content {
  display: inline-flex;
  margin-bottom: 8px; }

.mobile__icon {
  height: auto; }

@media only screen and (min-width: 992px) {
  .navbar-brand img {
    width: 60%; } }

.main__nav .nav-link {
  color: white;
  font-size: 1.2rem;
  font-weight: 600; }

.fixed-top {
  transition: all 0.5s; }

.flag {
  width: 23px;
  height: 23px;
  margin-right: 5px;
  background: transparent; }

.dropdown-toggle::after {
  content: none; }

.dropdown-center:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transform: translateX(-35%);
  transition: .5s ease all; }

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transform: translateX(-35%);
  transition: .5s ease all; }

.dropdown__box a {
  text-decoration: none; }

.ul__columns {
  padding: 0;
  min-width: 900px;
  box-shadow: -1px 0px 43px 3px rgba(242, 247, 161, 0.77);
  -webkit-box-shadow: -1px 0px 43px 3px rgba(242, 247, 161, 0.77);
  -moz-box-shadow: -1px 0px 43px 3px rgba(242, 247, 161, 0.77);
  list-style-type: none;
  background-color: #6D67E4;
  border-radius: 0px 0px 40px 40px; }

.dropdown__box {
  padding: 20px 20px 0px 20px;
  border: 1px solid #F2F7A1; }

#product__box1 {
  border-radius: 0px 0px 0px 40px;
  border-right: 0px; }

#product__box3 {
  border-radius: 0px 0px 40px 0px;
  border-left: 0px; }

.dropdown__icon__box {
  padding: 14px;
  margin: 5px 0px;
  border-radius: 100%;
  width: 55px;
  background-color: #46C2CB;
  display: inline-flex; }

.dropdown__icon__box i {
  font-size: 25px;
  color: black; }

.dropdown__container__tittle {
  color: white;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: 700 !important;
  font-size: 1.2rem; }

.dropdown__container__text {
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.dropdown__box:hover {
  background-color: #585170; }

.dropdown__container__link {
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
  padding-left: 10px; }

.language__box a {
  text-decoration: none;
  color: white; }

.language__box__menu {
  box-shadow: -1px 0px 43px 3px rgba(242, 247, 161, 0.77);
  -webkit-box-shadow: -1px 0px 43px 3px rgba(242, 247, 161, 0.77);
  -moz-box-shadow: -1px 0px 43px 3px rgba(242, 247, 161, 0.77);
  list-style-type: none;
  background-color: #453C67;
  border-radius: 0px 0px 20px 20px; }
  .language__box__menu:hover {
    background-color: #585170; }

.contact__button {
  border: 0px;
  background: #F2F7A1;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 10px;
  padding: 10px 20px; }
  .contact__button:hover {
    background: #46c2cb;
    background: linear-gradient(29deg, #46c2cb 49%, #f2f7a1 100%);
    color: white; }

#otter__carousel {
  background-image: url(/assets/backgroundstars.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100vh; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #6d67e4;
  background: linear-gradient(6deg, #6d67e4 0%, black 49%);
  opacity: 0.8;
  z-index: 1; }

.carousel__item___wrapper {
  margin-top: 100px;
  margin-bottom: 50px; }

.carousel__img__container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px; }

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  z-index: 2; }

.overlaytext {
  position: relative;
  z-index: 3;
  color: #fff;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 50px; }
  .overlaytext h2 {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: -2px -2px 6px rgba(242, 247, 161, 0.85);
    margin: 0px;
    margin-bottom: 10px; }
  .overlaytext h3 {
    font-size: 1rem; }

@media only screen and (min-width: 667px) {
  #otter__carousel {
    height: 60vh; } }

@media only screen and (min-width: 992px) {
  #otter__carousel {
    height: 85vh; }
  .carousel-inner {
    margin: 80px 0; }
  .carousel__item___wrapper {
    display: flex; }
  .carousel__img__container {
    max-width: 480px;
    height: 400px;
    margin-right: 3rem; }
  .overlaytext {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    padding: 0px; }
    .overlaytext h2 {
      font-size: 5rem; }
    .overlaytext h3 {
      font-size: 1.3rem; }
  .carousel-item img {
    position: relative;
    width: 100%; } }

.button__banner {
  background-color: #46C2CB;
  border-radius: 10px;
  font-weight: 600;
  padding: 10px 30px;
  color: white;
  text-decoration: none; }
  .button__banner:hover {
    background-color: #6D67E4; }

.carousel-indicators, .carousel-control-prev, .carousel-control-next {
  z-index: 3; }

.carousel-control-prev, .carousel-control-next {
  width: 5%; }

#products {
  background-color: black;
  padding: 6rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px; }

.products__tittle {
  color: white;
  text-shadow: -2px -2px 10px #6d67e4;
  font-weight: 900;
  font-size: 1.8rem; }

#products__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 2fr 1fr 1fr;
  margin-top: 0; }

.products__grid__element {
  display: block;
  grid-column: 1/span 4;
  overflow: hidden;
  text-decoration: none;
  border-radius: 40px;
  transition: all 0.5s; }
  .products__grid__element:hover {
    scale: 0.9;
    opacity: 0.9; }
  .products__grid__element:first-child {
    grid-row: 1/span 1;
    align-self: end;
    background: #453c67;
    background: linear-gradient(167deg, #453c67 39%, #6d67e4 100%);
    color: white; }
    .products__grid__element:first-child .products__grid__element__content {
      padding: 2.8rem 0 0 3rem;
      height: 100%; }
    .products__grid__element:first-child .products__grid__content__total__wrapper {
      display: inline-flex; }
    .products__grid__element:first-child .products__grid__content__wrapper {
      max-width: 50%; }
    .products__grid__element:first-child .crmside__container {
      width: 80%;
      margin-right: 35px;
      margin-left: 20px; }
      .products__grid__element:first-child .crmside__container img {
        width: 100%; }
    .products__grid__element:first-child .products__grid__element__text, .products__grid__element:first-child .products__grid__element__tittle {
      margin: 0;
      padding: 0; }
    .products__grid__element:first-child .products__grid__element__icon {
      object-fit: cover;
      max-width: 86%; }
    .products__grid__element:first-child .products__grid__element__icon img {
      object-fit: cover;
      width: 100%; }
  .products__grid__element:nth-child(2) {
    grid-row: 2/ span 1;
    grid-column: 1/span 2;
    background-color: #F2F7A1;
    color: black; }
  .products__grid__element:nth-child(3) {
    background-color: #6D67E4;
    color: white;
    grid-row: 2/ span 1;
    grid-column: 3/span 2; }
  .products__grid__element:nth-child(2), .products__grid__element:nth-child(3) {
    align-self: stretch;
    padding: 1.5rem; }
    .products__grid__element:nth-child(2) .products__grid__element__icon, .products__grid__element:nth-child(3) .products__grid__element__icon {
      width: 70%;
      padding-top: 10px;
      padding-left: 20px; }
    .products__grid__element:nth-child(2) .products__grid__element__content, .products__grid__element:nth-child(3) .products__grid__element__content {
      height: 100%; }
    .products__grid__element:nth-child(2) .products__grid__element__tittle h3, .products__grid__element:nth-child(3) .products__grid__element__tittle h3 {
      font-size: 1.4rem;
      font-weight: 900; }
  .products__grid__element:last-child {
    grid-row: 3/span 1;
    background-color: #46C2CB;
    align-self: start; }
    .products__grid__element:last-child .products__grid__element__content {
      padding: 1.5rem;
      color: white;
      position: relative; }
    .products__grid__element:last-child .products__grid__element__tittle h3 {
      font-size: 1.2rem;
      font-weight: 500; }
    .products__grid__element:last-child .products__grid__element__icon {
      display: inline-block; }
    .products__grid__element:last-child .products__grid__element__icon img {
      width: 45%; }

@media only screen and (min-width: 510px) {
  .products__grid__element:first-child .crmside__container {
    width: 60%; } }

@media only screen and (min-width: 854px) {
  #products {
    padding: 10rem 2rem; }
  .products__tittle {
    font-size: 3.5rem; }
  #products__grid {
    margin-top: 8rem;
    grid-template-rows: repeat(2, minmax(0, 1fr)); }
  .products__grid__element {
    grid-column: span 2/span 2; }
    .products__grid__element:first-child {
      grid-row: span 2/span 2;
      align-self: stretch; }
      .products__grid__element:first-child .products__grid__content__total__wrapper {
        display: flex;
        flex-direction: column; }
      .products__grid__element:first-child .crmside__container {
        margin-top: 7%;
        width: 40%; }
      .products__grid__element:first-child .products__grid__element__text {
        margin-right: 35px; }
    .products__grid__element:nth-child(2), .products__grid__element:nth-child(3) {
      grid-row: span 1/ span 1;
      grid-column: span 1/span 1; }
    .products__grid__element:last-child {
      grid-row: 2/span 1;
      grid-column: 3/span 2;
      align-self: stretch; }
      .products__grid__element:last-child .products__grid__element__icon {
        width: 45%; }
  .product__grid__element__content__wrapper {
    width: 55%; } }

@media only screen and (min-width: 1054px) {
  .products__grid__element:first-child .products__grid__content__total__wrapper {
    display: inline-flex;
    flex-direction: row; }
  .products__grid__element:first-child .crmside__container {
    margin-top: 0; }
  .products__grid__element:nth-child(2) .products__grid__element__icon, .products__grid__element:nth-child(3) .products__grid__element__icon {
    width: 50%;
    padding-top: 10px;
    padding-left: 20px; } }

#clients {
  background: #6d67e4;
  background: linear-gradient(0deg, #6d67e4 59%, #453c67 81%, black 100%);
  padding: 72px 0px 100px 0px;
  position: relative; }

.space__banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  height: 100%; }
  .space__banner img {
    width: 100%; }

.clients__tittle {
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  margin-bottom: 6rem; }

@media only screen and (min-width: 992px) {
  .clients__tittle {
    padding: 6rem 6rem;
    margin-bottom: 2rem; } }

#clients__container {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden; }
  #clients__container::before, #clients__container::after {
    background: linear-gradient(to right, #6d67e4 0%, rgba(109, 103, 228, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2; }
  #clients__container::before {
    left: 0;
    top: 0; }
  #clients__container::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }

#clients__track {
  display: flex;
  width: calc(250px*18);
  height: 80%;
  align-items: center;
  animation: scroll 40s linear infinite; }
  #clients__track:hover {
    animation-play-state: paused; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 9)); } }

.clients__track__card {
  height: 95%;
  width: 250px;
  display: flex;
  align-items: center;
  background: #f3f7a1c9;
  box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
  padding: 42px;
  margin: 0px 15px;
  transition: transform 1s;
  border-radius: 40px; }
  .clients__track__card:hover {
    transform: scale(0.9); }
  .clients__track__card img {
    width: 100%; }

.separatorbox {
  display: flex;
  background: #46c2cb;
  background: linear-gradient(0deg, #46c2cb 74%, #6d67e4 100%);
  align-items: center;
  justify-content: center; }

.separator {
  padding: 30px;
  text-align: left;
  max-width: 50rem; }
  .separator h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white; }
  .separator h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #453C67; }

.mission__flag img {
  width: 60%; }

@media only screen and (min-width: 992px) {
  .separator {
    padding: 50px;
    margin-right: 10rem; } }

@media only screen and (min-width: 1592px) {
  .separator {
    margin-right: 12rem; } }

@media only screen and (min-width: 1770px) {
  .separator {
    margin-right: 20rem; } }

footer {
  background: #a1e7ee;
  background: linear-gradient(0deg, #a1e7ee 80%, #46c2cb 100%);
  padding: 6rem 0 0 0; }
  footer ul {
    list-style-type: none;
    padding: 0; }
  footer li {
    margin-bottom: 10px; }
  footer a {
    text-decoration: none;
    display: block;
    color: white;
    margin-bottom: 15px;
    transition: all 0.5s; }
    footer a:hover {
      transform: scale(1.2); }

.footer__container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  border-radius: 0;
  background: #6d67e4;
  background: linear-gradient(156deg, #6d67e4 25%, #453c67 81%);
  color: white; }

.footergrad {
  border-radius: 40px 40px 0px 0px; }

.footer__logo__container {
  justify-content: start; }

.footer__logo {
  width: 50%;
  margin-bottom: 30px; }

.big__margin {
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 480px) {
  footer {
    padding: 6rem 1rem 0 1rem; }
  .footer__container {
    -webkit-box-shadow: inset 0px 0px 7px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 7px 10px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 7px 10px rgba(0, 0, 0, 0.75);
    border-radius: 40px 40px 0px 0px; }
  .footer__logo__container {
    justify-content: center; } }

@media only screen and (min-width: 552px) {
  .footer__logo {
    width: 30%; } }

@media only screen and (min-width: 992px) {
  footer {
    padding: 6rem 10rem 0 10rem; }
  .footer__logo {
    width: 20%; } }

@media only screen and (min-width: 992px) {
  .big__margin {
    margin-left: 3rem; } }

@media only screen and (min-width: 1418px) {
  footer {
    padding: 6rem 13rem 0 13rem; } }
