.productsection__maincontainer{
    height: calc(100vh - 100px);
    margin-top: 100px;
    background: rgb(69,60,103);
    background: linear-gradient(292deg, rgba(69,60,103,1) 39%, rgba(109,103,228,1) 100%);
    position: relative;
    width: 100%;
    overflow: hidden;
    
    
}

.hide__iss__planet{
    display: none;
    
}

.productsection__background{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: calc(100vh - 100px);
    width: 100%;
    z-index: 0;
    

}

.issbanner{
    background-image: url(../assets/backgroundissmob.svg);
    background-size: cover;
}


.productsection__serviceimg__container{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 20%;
}

@media only screen and (min-width: 680px) {
    .productsection__serviceimg__container{
        top: 45%;
        left: 30%;
        }
    }

.productsection__serviceimg__image{
    width: 100%;
}

.productsection__textcontainer{
    position: relative;
    z-index: 2;
    height: 100%;
    font-weight: 600;
    flex-direction: column;
    margin: 0;
    max-width: 450px;
    padding-left: 1rem;
    padding-top: 5rem;
    
        h1{
            font-weight: 600;
            color: $primary-violet;
            margin: 0;
            margin-top: 30px;
        }
        h2{
            max-width: 60%;
        }
        p{
            margin-top: 20px;
            padding-bottom: 2rem;
            
        }
        .button__banner{
            color: white;
            font-size: 1.5rem;
            font-weight: 900;
        }

}

.products__separatorbox{
    display: flex;
	background: #25223A;
    align-items: center;
    justify-content: center;
    
}

.products__separator{
    padding: 15px 0;
    color: white;
    text-align: start;
    width: 90%;
        h3{
            font-size: 1.25rem;
        }
    
}

@media only screen and (min-width: 630px) {
    .productsection__serviceimg__container{
        padding-bottom: 2rem;
    }
    .productsection__textcontainer{
        padding-left: 3rem;
    }
}

@media only screen and (min-width: 956px) {
    .hide__iss__planet{
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .productsection__background{
        
        transform: translate(-10%, 0%);
    }
    .issbanner{
        background-image: url(../assets/backgroundiss.svg);
    }
    
    .productsection__serviceimg__container{
        
        top: 22%;
        left: 47%;
        
        padding: 0;
        width: 50%;
    }
    .productsection__textcontainer{
        padding-left: 5rem;
        padding-top: 0;
        justify-content: center;
            h1{
                font-size: 5rem;
                margin-top: 0;
            }
            h2{
                max-width: 100%;
            }
            p{
                padding-bottom: 5rem;
            }
    }
    .products__separator{
        padding:50px;
        text-align: center;
        width: 70%;
    }
}

@media only screen and (min-width: 1214px) {
    .productsection__serviceimg__container{
        
        top: 9%;
        left: 35%;
    }
}


#features{
    background-color: white;
    padding-top: 5rem;
    
        
}

.features__image__container{
    width: 35%;
    margin-bottom: 1rem;
}

.features__image{
    width: 100%;

}

.features__text{
    padding: 1rem;
        h4{
            color: $primary-aqua;
            font-weight: 600;
        }
}

.features__gradient{
    height: 100px;
    width: 100%;
    /* background: rgb(70,194,203); */
    /* background: linear-gradient(0deg, rgba(70,194,203,1) 21%, rgba(255,255,255,1) 88%); */
}

@media only screen and (min-width: 992px) {
    .container{
        .reverse{
            flex-direction: row-reverse;
        }
    }
    .features__text{
        padding-left: 3.5rem;
    }
    .features__image__container{
        width: 20%;
    }
}

@media only screen and (min-width: 1214px) {
    .features__image__container{
        
        width: 15%;
    }
}