$primary-darkviolet: #25223A;
$primary-violet: #453C67;
$primary-aqua: #46C2CB;
$secondary-violet: #6D67E4;
$secondary-yellow: #F2F7A1;

@import "closebutton";
@import "otteriss.scss";
@import "ottersc.scss";
@import "otternaut.scss";

body{
    font-family: "Questrial";
    background-color: black;
}

#complete__nav{
    
    color: white;
    height: 100px;
    
}

.position__fix{
    padding: 0px 40px;
    position: relative;
    height: 100%;
        
    
}

.logo__box{
    width: 30%;
}

.navbar-brand img{
    width: 100%;
    
    
}

.menu__header{
    margin-left: auto;
    
    
}

#collapseMenu{
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $primary-violet;
    overflow: auto;
    transition: height 0.3s ease-in-out;

    
}

#collapseMenu.collapsing{
    height: 0;

}


.collapse__inner{
    ul{
        padding: 18px 0px;
        list-style-type: none;
        margin-bottom: 70px
        }
}

.collapsable__li{
    position: relative;
    padding: 20px 30px;
    transition-duration: .8s;
    border-bottom: 1px solid $secondary-yellow;
        
}

.collapsable__button{
    background: none;
    border: 0px;
    width: 100%;
    text-align: left;
    padding: 0;
}

.collapsable__tittle{
    
    max-width: 170px;
    line-height: 48px;
    font-size: 22px;
    text-decoration: none;
    
    color: white;
    font-weight: 600;
}

.arrow__box{
    font-size: 22px;
    border-radius: 50px ;
    background-color: $secondary-violet;
    color: $secondary-yellow;
    margin-right: 60px;
    padding: 1px 10px;
}

#solutionsCollapse{
    border: 1px solid $secondary-yellow;
    background-color: $secondary-violet;
    border-radius: 15px;
    margin-top: 10px;
        a{
            text-decoration: none;
            display: inline-flex;
            flex-direction: column;

        }
}


.solutions__collapse__product{
    border-bottom: 1px solid $secondary-yellow;
        &:last-child{
            border-bottom: none;
        };
        &:hover,:active{
            background-color: #585170
        }
}
.solutions__collapse__product__content{
    display: inline-flex;
    margin-bottom: 8px ;
}

.mobile__icon{
    height: auto;
}

@media only screen and (min-width: 992px) {

	.navbar-brand img{
        width: 60%;
    }
}


.main__nav .nav-link{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}


.fixed-top{
    transition: all 0.5s;
}

.flag{
width: 23px;
height: 23px;
margin-right: 5px;
background: transparent;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-center:hover .dropdown-menu{
    display:block;
    visibility: visible;
    opacity:1;
    transform: translateY(0px);
    transform: translateX(-35%);
    transition:.5s ease all;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity:0;
    transform: translateY(50px);
    transform: translateX(-35%);
    transition:.5s ease all;
}

.dropdown__box a{
    text-decoration: none;
}



.ul__columns{
    padding: 0;
    min-width: 900px;
    box-shadow: -1px 0px 43px 3px rgba(242,247,161,0.77);
    -webkit-box-shadow: -1px 0px 43px 3px rgba(242,247,161,0.77);
    -moz-box-shadow: -1px 0px 43px 3px rgba(242,247,161,0.77);
    list-style-type: none;
    background-color: $secondary-violet;
    border-radius: 0px 0px 40px 40px;
}

.dropdown__box{
    padding: 20px 20px 0px 20px;
    border: 1px solid $secondary-yellow;

}

#product__box1{
    border-radius: 0px 0px 0px 40px;
    border-right: 0px;
}

#product__box3{
    border-radius: 0px 0px 40px 0px;
    border-left: 0px;
}

.dropdown__icon__box{
    
    padding: 14px;
    margin: 5px 0px;
    border-radius: 100%;
    width: 55px;
    background-color: $primary-aqua;
    display: inline-flex;
}

.dropdown__icon__box i{
    font-size: 25px;
    color: black;
}


.dropdown__container__tittle{
    color: white;
    padding-bottom: 15px;
    padding-left: 20px;
    font-weight: 700 !important;
    font-size: 1.2rem;
    
}


.dropdown__container__text{
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
}

.dropdown__box:hover{
    background-color: #585170;

}


.dropdown__container__link{
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    
}

.language__box a{
    text-decoration: none;
    color: white;
}

.language__box__menu{
    box-shadow: -1px 0px 43px 3px rgba(242,247,161,0.77);
    -webkit-box-shadow: -1px 0px 43px 3px rgba(242,247,161,0.77);
    -moz-box-shadow: -1px 0px 43px 3px rgba(242,247,161,0.77);
    list-style-type: none;
    background-color: $primary-violet;
    border-radius: 0px 0px 20px 20px;
        &:hover{
            background-color: #585170;
        }
}

.contact__button{
    border: 0px;
    background: $secondary-yellow;
    color: black;
    font-weight: 600;
    
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 10px;
    padding: 10px 20px;
        &:hover{
            background: rgb(70,194,203);
            background: linear-gradient(29deg, rgba(70,194,203,1) 49%, rgba(242,247,161,1) 100%);
            color: white;
        }
}

#otter__carousel{
    background-image: url(/assets/backgroundstars.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    
    
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(109,103,228);
    background: linear-gradient(6deg, rgba(109,103,228,1) 0%, rgba(0,0,0,1) 49%);
    opacity:0.8;
    z-index: 1;
}

.carousel-inner{
    padding-top: 6rem;
}


.carousel__item___wrapper{
    
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.carousel__img__container{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    

}
.carousel-item img{
    
    max-width:100%;
    max-height:100%;
    z-index: 2;
}
.overlaytext{
    position: relative;
    z-index: 3;
    color: #fff;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 50px;

        
    h2{
        font-size: 2rem;
        font-weight: 600;
        text-shadow: -2px -2px 6px rgba(242,247,161,0.85);
        margin: 0px;
        margin-bottom: 10px;
    }    
    h3{
        font-size: 1rem;
        
    } 
}


@media only screen and (min-width: 667px) {
    #otter__carousel{
        height: 100%;
    }

    .carousel-inner{
        padding-top: 0;
    }
}

@media only screen and (min-width: 992px) {
    
    
    .carousel-inner{
        margin: 80px 0;
    }
    .carousel__item___wrapper{
        display: flex;
        
        
    }
    .carousel__img__container{
        max-width: 480px;
        height: 400px;
        margin-right: 3rem;
        
    }
    .overlaytext{
        max-width: 480px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 3rem;
        padding: 0px;
        h2{
            font-size: 5rem;
            
        }  
        h3{
            font-size: 1.3rem;
        }  
        
    }
    .carousel-item img{
        position: relative;
        
        width:100%;
    }
}

.button__banner{
    background-color: $primary-aqua;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
        &:hover{
            background-color: $secondary-violet;
        }
}

.carousel-indicators,.carousel-control-prev,.carousel-control-next{
    z-index: 3;
}

.carousel-control-prev,.carousel-control-next{
    width: 5%;

}





#products{
    background-color: black;
    padding: 6rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.products__tittle{
    color: white;
    text-shadow: -2px -2px 10px rgb(109, 103, 228);
    font-weight: 900;
    font-size: 1.8rem;
}

#products__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-rows: 2fr 1fr 1fr;
    margin-top: 0;
}

.products__grid__element{
    display: block;
    grid-column: 1/span 4;
    overflow: hidden;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.5s;
				&:hover{
					scale: (0.9);
                    opacity: 0.9;
				}
        &:first-child{
            grid-row: 1/span 1;
            align-self: end;
            background: rgb(69,60,103);
            background: linear-gradient(167deg, rgba(69,60,103,1) 39%, rgba(109,103,228,1) 100%);
            color: white;
            .products__grid__element__content{
                padding: 2.8rem 0 0 3rem;
                height: 100%;
            }
            .products__grid__content__total__wrapper{
                display: inline-flex;
            }
            .products__grid__content__wrapper{
                max-width: 50%;
            }
            .crmside__container{
                width: 80%;
                margin-right: 35px;
                margin-left: 20px;
                    img{
                        width: 100%;
                    }
            }

            .products__grid__element__text,.products__grid__element__tittle{
                
                margin: 0;
                padding: 0;
            }
            .products__grid__element__icon{
                object-fit: cover;
                max-width: 86%;
            }
            .products__grid__element__icon img{
                object-fit: cover;
                width: 100%;
            }
        }
        &:nth-child(2){
            grid-row: 2/ span 1;
            grid-column: 1/span 2;
            background-color: $secondary-yellow;
            color: black;
                
                }
        &:nth-child(3){
            background-color: $secondary-violet;
            color: white;
            grid-row: 2/ span 1;
            grid-column: 3/span 2;
        }
        &:nth-child(2),&:nth-child(3){
            align-self: stretch;
            padding: 1.5rem;
            .products__grid__element__icon {
                width: 70%;
                padding-top: 10px;
                padding-left: 20px;
            }
            .products__grid__element__content{
                height: 100%;
            }
            .products__grid__element__tittle h3{
                font-size: 1.4rem;
                font-weight: 900;
            }
        }
        &:last-child{
            grid-row: 3/span 1;
            background-color: $primary-aqua;
            align-self: start;
            .products__grid__element__content{
                padding: 1.5rem;
                color: white;
                position: relative;
            }
            .products__grid__element__tittle h3{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .products__grid__element__icon{
                display: inline-block;
                
            }
            .products__grid__element__icon img{
                width: 45%;
                
            }
        }
}


@media only screen and (min-width: 510px) {
    .products__grid__element{
        &:first-child{
            .crmside__container{
                width: 60%;
            }
        }
    }
}

@media only screen and (min-width: 854px) {
    #products{
	    padding: 10rem 2rem;
    }
    .products__tittle{
        font-size: 3.5rem;
    }
    #products__grid {
        margin-top: 8rem;
        grid-template-rows: repeat(2,minmax(0,1fr));
    }
    .products__grid__element{
        grid-column: span 2/span 2; 
        
            &:first-child{
                grid-row: span 2/span 2;
                align-self: stretch;
                .products__grid__content__total__wrapper{
                    display: flex;
                    flex-direction: column;
                    
                }
                .crmside__container{
                    margin-top: 7%;
                    width: 40%
                }
                .products__grid__element__text{
                    margin-right: 35px;
                }
                
            }
            &:nth-child(2),&:nth-child(3){
                grid-row: span 1/ span 1;
                grid-column: span 1/span 1;
                
                

            }
            &:last-child{
                grid-row: 2/span 1;
                grid-column: 3/span 2;
                align-self: stretch;
                .products__grid__element__icon{
                    width: 45%;
                    
                    
                }
            }
        }
        .product__grid__element__content__wrapper{
            width: 55%;
        }
    
}

@media only screen and (min-width: 1054px) {
    .products__grid__element{
        &:first-child{
            .products__grid__content__total__wrapper{
                display: inline-flex;
                flex-direction: row;               
            }
            .crmside__container{
                margin-top: 0;
            }
            
        }
        &:nth-child(2),&:nth-child(3){
            .products__grid__element__icon {
                width: 50%;
                padding-top: 10px;
                padding-left: 20px;
            }
        }
    }
}


#clients{
    background: rgb(109,103,228);
    background: linear-gradient(0deg, rgba(109,103,228,1) 59%, rgba(69,60,103,1) 81%, rgba(0,0,0,1) 100%);
    padding: 72px 0px 100px 0px;
    position: relative;
    
}

.space__banner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    height: 100%;
        img{
            width: 100%;
        }
}

.clients__tittle{
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-bottom: 6rem;
}

@media only screen and (min-width: 992px) {

	.clients__tittle{
        padding: 6rem 6rem;
        margin-bottom: 2rem;
    }
}

#clients__container{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
        &::before,&::after{
            background: linear-gradient(to right, rgba(109,103,228,1)0%,rgba(109,103,228,0)100%);
            content: '';
            height: 100%;
            position: absolute;
            width: 15%;
            z-index: 2;
        }
        &::before{
            left: 0;
            top: 0;
        }
        &::after{
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
    
}

#clients__track{
    display: flex;
    width: calc(250px*18);
    height: 80%;
    align-items: center;
    animation: scroll 40s linear infinite;
        &:hover{
            animation-play-state: paused;
        }
    
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
    
}

.clients__track__card{
    height: 95%;
    width: 250px;
    display: flex;
    align-items: center;
    background: #f3f7a1c9;
    box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.75);
            -webkit-box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.75);
    padding: 42px;
    margin: 0px 15px;
    transition: transform 1s;
    border-radius: 40px;
    
        &:hover{
            transform: scale(0.9);
            
        }
        img{
            width: 100%;
        }
}

.separatorbox{
    display: flex;
	background: rgb(70,194,203);
    background: linear-gradient(0deg, rgba(70,194,203,1) 74%, rgba(109,103,228,1) 100%);
    align-items: center;
    justify-content: center;
    
    
}

.separator{
	padding: 30px;
    text-align: left;
    max-width: 50rem;

        h3{
            font-size: 2.5rem;
            font-weight: 600;
            color: white;
        }
        h4{
            font-size: 2rem;
            font-weight: 600;
            color:$primary-violet
        }
}

.mission__flag{
    
        img{
            width: 60%;
        }
}


@media only screen and (min-width: 992px) {
    .separator{
        padding: 50px;
        margin-right: 10rem;
    }

}

@media only screen and (min-width: 1592px) {
    .separator{
        margin-right: 12rem;
    }

}

@media only screen and (min-width: 1770px) {
    .separator{
        margin-right: 20rem;
    }

}

footer{
    background: rgb(161,231,238);
    background: linear-gradient(0deg, rgba(161,231,238,1) 80%, rgba(70,194,203,1) 100%);
    padding: 6rem 0 0 0;
        ul{
            list-style-type: none;
            padding: 0;
        }
        li{
            margin-bottom: 10px; 
        }
        a{
            text-decoration: none;
            display: block;
            color: white;
            margin-bottom: 15px;
            transition: all 0.5s;
				&:hover{
					transform: scale(1.2);
                    
                    
				}
        }
}

.footer__container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 1150px;
    border-radius: 0;
    background: rgb(109,103,228);
    /* background: linear-gradient(156deg, rgba(109,103,228,1) 25%, rgba(69,60,103,1) 81%); */
    color: white;
    
}

.footergrad{
    
border-radius: 40px 40px 0px 0px;
}

.footer__logo__container{
    justify-content: start;

}

.footer__logo{
    width: 50%;
    margin-bottom: 30px;
    

}

.big__margin{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 480px) {
    footer{
        padding: 6rem 1rem 0 1rem;
    }
    .footer__container {
        /* -webkit-box-shadow: inset 0px 0px 7px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 7px 10px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 7px 10px rgba(0,0,0,0.75); */
        border-radius: 40px 40px 0px 0px;

    }
    .footer__logo__container{
        justify-content: center;
    
    }

}

@media only screen and (min-width: 552px) {

	.footer__logo{
        width: 30%;
    }
}

@media only screen and (min-width: 992px) {

	footer{
        padding: 6rem 10rem 0 10rem;
    }

    .footer__logo{
        width: 20%;
    }
}

@media only screen and (min-width: 992px) {

	.big__margin{
        margin-left: 3rem;
    }

}

@media only screen and (min-width: 1418px) {

	footer{
        padding: 6rem 13rem 0 13rem;
    }

    
}

